html,body{
    height: 100%;
}
body {
    margin: 0;
    font-family: "Andale Mono", monospace;
    color: #555;
    background-color: #C0FDFB;
}
header {
    background-color: #64B6AC;
    text-align: center;
    font-family: cursive;
    font-size: 10px;
    border-bottom: #5D737E 3px solid;
    margin: 0;
    padding: 0.5%;
}

canvas{
    margin: 1%;
}

.button{
    background-color: #64B6AC;
    margin: 2% 2% 2% 2%;
}
.buttonX{
    width: 20px;
}
.buttonR{
    margin-right: 10px;
}
.column{
    text-align: center;
}
textarea{
    border-color: #5D737E;
    background-color: #DAFFEF;
    resize: none;
    vertical-align: center;
    text-align: center;
    margin-top: 2%;
}
#div{
    min-width: 320px;
    max-width: 800px;
    padding: 0px;
    margin: 5% auto;
}
/* Стили секций с содержанием */
form{
    padding: 15px;
    background: #FCFFFD;
    border: 1px solid #ddd;
    text-align: left;
}
input[name="form"]+table{
    margin:5%;
}
.thTitle{
    text-align: center;
    color: #555555;
}
input[type="text"],#R{
    width: 100%;
}
#contet-result th{
    padding: 1%;
    width: 20%;
}
#contet-result td{
    text-align: center;
}